DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="gbai_super_secret_key_2024_mudar_em_producao"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Mercado Pago (sandbox)
MERCADO_PAGO_ACCESS_TOKEN="TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxx-xxxxxxxxx"
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY="TEST-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
MERCADO_PAGO_WEBHOOK_SECRET="whsec_sua_chave_secreta_webhook"
